@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 32px;
}

body {
  background: #fefefa;
  font-family: "Poppins", sans-serif;
  color: #00563b;
}

.container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 90vh;
  width: 100%;
  border-radius: 0.5px;
}

.hero-heading {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
  margin-left: 0rem;
}

.hero-heading h2 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.5rem;
  color: #00563b;
}

span {
  contain: paint;
  padding: 1rem 0;
}

.slide {
  view-transition-name: swap;
}

::view-transition-new(swap),
::view-transition-old(swap) {
  height: 100%;
  object-fit: none;
  object-position: top left;
}

::view-transition-old(swap) {
  animation-name: slide-out;
  animation-duration: 0.75s;
  animation-timing-function: linear(
    0,
    0.6832 7.89%,
    0.9171 11.07%,
    1.0251,
    1.1058 14.9%,
    1.1619 16.86%,
    1.1945 18.91%,
    1.2024 20.02%,
    1.2043 21.18%,
    1.1907,
    1.1598 26.27%,
    1.0604 32.59%,
    1.0172 35.84%,
    0.9839 39.49%,
    0.967 43.26%,
    0.9639 45.77%,
    0.9661 48.59%,
    0.9963 60.54%,
    1.0054 67.42%,
    1
  );
}
::view-transition-new(swap) {
  animation-name: slide-in;
  animation-duration: 0.75s;
  animation-timing-function: linear(
    0,
    0.6832 7.89%,
    0.9171 11.07%,
    1.0251,
    1.1058 14.9%,
    1.1619 16.86%,
    1.1945 18.91%,
    1.2024 20.02%,
    1.2043 21.18%,
    1.1907,
    1.1598 26.27%,
    1.0604 32.59%,
    1.0172 35.84%,
    0.9839 39.49%,
    0.967 43.26%,
    0.9639 45.77%,
    0.9661 48.59%,
    0.9963 60.54%,
    1.0054 67.42%,
    1
  );
}

::view-transition-group(last) {
  animation-duration: 0.75s;
  animation-timing-function: linear(
    0,
    0.6832 7.89%,
    0.9171 11.07%,
    1.0251,
    1.1058 14.9%,
    1.1619 16.86%,
    1.1945 18.91%,
    1.2024 20.02%,
    1.2043 21.18%,
    1.1907,
    1.1598 26.27%,
    1.0604 32.59%,
    1.0172 35.84%,
    0.9839 39.49%,
    0.967 43.26%,
    0.9639 45.77%,
    0.9661 48.59%,
    0.9963 60.54%,
    1.0054 67.42%,
    1
  );
}

@keyframes slide-out {
  100% {
    opacity: 0;
    translate: 0 0%;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    translate: 0 0%;
  }
}

.hero-text {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  margin-left: 0rem;
}

.hero-text h4 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}

.hero-text p {
  width: 60%;
  font-size: 2rem;
  margin-left: 25rem;
  line-height: 1.1;
}

.hero-footer {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  margin-left: 0rem;
}

.footer-icon i {
  font-size: 5rem;
  color: #00563b;
}

.footer-link p {
  font-size: 2rem;
  margin-left: 38.5rem;
  line-height: 1.1;
}

@media (max-width: 768px) {
  body {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
  }

  .container {
    flex-direction: column;
    margin: 1.5rem;
    overflow-x: hidden;
    justify-content: center;
    width: 100%;
  }

  .hero-img img {
    width: 100%;
    height: 30vh;
    border-radius: 5px;
  }

  .hero-heading {
    margin-top: 1rem;
    margin-left: 5rem;
  }

  .hero-heading h2 {
    font-size: 3rem;
    line-height: 1.1;
    letter-spacing: 0rem;
  }

  .hero-text {
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2rem;
    margin-left: 2.5rem;
    color: #00563b;
  }

  .hero-text h4 {
    font-size: 1.5rem;
    text-align: center;
    margin-left: -4rem;
  }

  .hero-text p {
    width: 80%;
    font-size: 1rem;
    margin-left: 0rem;
    text-align: center;
  }

  .hero-footer {
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
    margin-left: -0rem;
  }

  .footer-icon i {
    font-size: 3rem;
  }

  .footer-link p {
    margin-left: 0rem;
    font-size: 1rem;
  }
}
